language: android
android:
  components:
  - build-tools-25.0.2
  - android-25
  - sys-img-armeabi-v7a-android-25
install:
  - cd Scripts
  - sudo bash InitAndroid.sh
  - cd ../
script:
  - cd Scripts
  - sudo bash BuildAndroid.sh
  - cd ../
  - mkdir GitPage
  - cp AndroidProject/bin/*.apk GitPage/
deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  keep-history: false
  local-dir: GitPage
  on:
    branch: AndroidBuild
