image: Visual Studio 2017
cache: c:\tools\vcpkg\installed\
platform:
  - x86
configuration:
  - Debug
  - Release
before_build:
  - cmd: vcpkg integrate install
  - cmd: vcpkg install glfw3 glew libpng boost-filesystem
build:
  project: AVGEngine.sln
  verbosity: minimal