[Scene] =
{
	#创建并初始化控件容器
	[WidgetContainer] = 
	{
		#自定义的控件的基类都是WidgetContainer
		[res.widget.CustomDialog.cnf]dialog1 =
		{
			text = Test!
			size.width = $(size.width)
			size.height = $(size.height) * 0.2
			pos.x = 0
			pos.y = $(size.height) * 0.8
		}
	}
}